# .env.example

# Local environment variables

DEPLOYMENT_ENV={'dev' | 'prod'}
DATABASE_URL=postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{DB_HOST}:{DB_PORT}/{POSTGRES_DB_NAME}
HONO_PORT={Port number for Hono server to listen on, default to 3000}
