# misc
.DS_Store
*.pem

# vscode
.vscode

# deps
node_modules/

# wrangler
.wrangler/
.dev.vars
worker-configuration.d.ts

# env files
.env*

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
